<!DOCTYPE html>
<html class="text-center" lang="en">

<head>
    <meta http-equiv="refresh" content="5">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EMA_Site</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
</head>

<body style="color: var(--bs-black);">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="Home_Good.html"><i class="fas fa-home text-dark"></i>&nbsp;Home</a></li>
        <li class="nav-item"><a class="nav-link" href="Past.html"><img width="16" height="16" src="assets/img/past_data.png">&nbsp;Past Data</a></li>
        <li class="nav-item"><a class="nav-link" href="Live.html"><i class="far fa-chart-bar text-dark" style="font-size: 16px;"></i>&nbsp;Live Heart Rate</a></li>
    </ul><i class="fas fa-exclamation text-danger" style="font-size: 194px;"></i><i class="fas fa-exclamation text-danger" style="font-size: 194px;"></i><i class="fas fa-frown-open" style="font-size: 194px;"></i><i class="fas fa-exclamation text-danger" style="font-size: 194px;"></i><i class="fas fa-exclamation text-danger" style="font-size: 194px;"></i>
    <h1><i class="far fa-heart text-danger"></i>{{ BPM }}</h1>
    <p>Current Threshold BPM: {{ Thresh }}</p>
    <p></p><em class="text-secondary">Note: To change threshold BPM, go to Live Heart Rate tab</em><em class="text-secondary"></em>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
